.prettyprint .com {
    color: #76b947;
    font-style: italic;
}

.prettyprint .lit {
    color: #5885af;
}

img.resize_120 {
  max-width:120%;
  max-height:120%;
}

img.resize_100 {
  max-width:100%;
  max-height:100%;
}

img.resize_90 {
  max-width:90%;
  max-height:90%;
}

img.resize_80 {
  max-width:80%;
  max-height:80%;
}

.centerImage
{
 text-align:center;
 display:block;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

micode {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

p.small {
  line-height: 0.7;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.tab1 {
    display: inline-block;
    margin-left: 40px;
}

body{
  overflow-y: scroll;
}

body, td {
   font-size: 14px;
}

.main-container { width: 1200px; max-width:5000px;}

pre {
  overflow-x: visible;
  font-size: 18px;
}
pre code {
  word-wrap: normal;
  white-space: pre;
}

code.r{
  font-size: 18px;
}

.pnote{
  font-size: 15px;
}

.pYourTurn{
  background-color: #FFAE19;
}

ol li p{
 font-size:18px;
 margin:0;
 padding: 0;
 display: inline;
}